/node_modules/
/app/scss/uikit/
/app/scss/fontawesome/
/app/fonts/
/app/js/scripts.min.js
/app/js/uikit/
/fonts/
/.git/
.idea/
/app/css/
/**/_backstage
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store
