header {
  .uk-logo {
    max-width: 120px;
    padding-left: 0;
  }

  header div:not(.uk-navbar-center) .uk-navbar-nav li:last-child a {
    padding-right: 0;
  }

  &.uk-sticky-fixed {
    position: fixed;
    top: 0px;
    width: 100%;
  }
}